In [2]:
import pandas as pd
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [3]:
from utils import run_sql_query, populate_dataframe_to_database, create_table_query

{'user': 'postgres', 'password': '', 'database': 'youtube_database', 'host': '172.17.0.1', 'port': '15432'}

In [4]:

# Define the root directory
root_directory = './../Data/youtube-data/'

sql_queries = ""


totals_table_created = False  # Flag to track if Totals table has been created
all_totals_data = pd.DataFrame()  # DataFrame to combine all Totals data

# Iterate through each folder in the root directory
for folder_name in os.listdir(root_directory):
    folder_path = os.path.join(root_directory, folder_name)

    # Check if the item is a directory
    if os.path.isdir(folder_path):
        chart_data_path = os.path.join(folder_path, 'Chart data.csv')
        table_data_path = os.path.join(folder_path, 'Table data.csv')
        totals_data_path = os.path.join(folder_path, 'Totals.csv')


        

        # # Check if "Chart data.csv" or "Table data.csv" exists in the folder
        if os.path.exists(chart_data_path):
            chart_data_df = pd.read_csv(chart_data_path)
            table_name = f'{folder_name.lower().replace(" ","_")}_chart_data'
            table_query = create_table_query(chart_data_df, table_name)
            sql_queries += table_query
            # Process chart data
   
            run_sql_query(table_query)  # Create table if not exists
            populate_dataframe_to_database(chart_data_df, table_name)

        if os.path.exists(table_data_path):
            # Process table data
            table_data_df = pd.read_csv(table_data_path)
            table_name = f'{folder_name.lower().replace(" ","_")}_table_data'

            table_query = create_table_query(table_data_df, table_name)
            sql_queries += table_query


            run_sql_query(table_query)  # Create table if not exists
            populate_dataframe_to_database(table_data_df, table_name)
        
        # Check if "Totals.csv" exists in the folder
        if os.path.exists(totals_data_path):
            totals_df = pd.read_csv(totals_data_path)
            all_totals_data = pd.concat([all_totals_data, totals_df], ignore_index=True)
        
    


# Create the CREATE TABLE query for totals_table_data
totals_table_query = create_table_query(all_totals_data, 'totals_table_data')
sql_queries += totals_table_query
# Create the totals_table_data table

# Specify the file path for the SQL file
sql_file_path = './sql_queries.sql'

# Write the SQL queries to the file
with open(sql_file_path, 'w') as sql_file:
    sql_file.write(sql_queries)


run_sql_query(totals_table_query)

# Insert the combined Totals data into totals_table_data
populate_dataframe_to_database(all_totals_data, 'totals_table_data')

2024-01-04 20:22:24,384:logger:Log success

2024-01-04 20:22:24,727:logger:Inserted 5116 rows into the database table device_type_chart_data.
2024-01-04 20:22:24,737:logger:Log success
2024-01-04 20:22:24,847:logger:Inserted 5 rows into the database table device_type_table_data.
2024-01-04 20:22:24,868:logger:Log success
2024-01-04 20:22:25,134:logger:Inserted 10232 rows into the database table subscription_source_chart_data.
2024-01-04 20:22:25,147:logger:Log success
2024-01-04 20:22:25,268:logger:Inserted 9 rows into the database table subscription_source_table_data.
2024-01-04 20:22:25,296:logger:Log success
2024-01-04 20:22:25,448:logger:Inserted 502 rows into the database table viewership_by_date_table_data.
2024-01-04 20:22:25,471:logger:Log success
2024-01-04 20:22:25,596:logger:Inserted 2 rows into the database table viewer_gender_table_data.
2024-01-04 20:22:25,617:logger:Log success
2024-01-04 20:22:26,103:logger:Inserted 11511 rows into the database table traffic_source_chart_data.
2024-01-04 20:22:26,132:logger:Log success
2024-01-04 20:22:26,269:logger:Inserted 11 rows into the database table traffic_source_table_data.
2024-01-04 20:22:26,299:logger:Log success
2024-01-04 20:22:26,584:logger:Inserted 10232 rows into the database table subtitles_and_cc_chart_data.
2024-01-04 20:22:26,598:logger:Log success
2024-01-04 20:22:26,697:logger:Inserted 9 rows into the database table subtitles_and_cc_table_data.
2024-01-04 20:22:26,716:logger:Log success
2024-01-04 20:22:26,870:logger:Inserted 3837 rows into the database table new_and_returning_viewers_chart_data.
2024-01-04 20:22:26,886:logger:Log success
2024-01-04 20:22:26,990:logger:Inserted 4 rows into the database table new_and_returning_viewers_table_data.
2024-01-04 20:22:27,022:logger:Log success
2024-01-04 20:22:27,628:logger:Inserted 20464 rows into the database table operating_system_chart_data.
2024-01-04 20:22:27,642:logger:Log success
2024-01-04 20:22:27,752:logger:Inserted 17 rows into the database table operating_system_table_data.
2024-01-04 20:22:27,780:logger:Log success
2024-01-04 20:22:28,020:logger:Inserted 6395 rows into the database table cities_chart_data.
2024-01-04 20:22:28,038:logger:Log success
2024-01-04 20:22:28,267:logger:Inserted 9 rows into the database table cities_table_data.
2024-01-04 20:22:28,292:logger:Log success
2024-01-04 20:22:28,453:logger:Inserted 4 rows into the database table viewer_age_table_data.
2024-01-04 20:22:28,493:logger:Log success
2024-01-04 20:22:28,680:logger:Inserted 2558 rows into the database table subscription_status_chart_data.
2024-01-04 20:22:28,695:logger:Log success
2024-01-04 20:22:28,800:logger:Inserted 3 rows into the database table subscription_status_table_data.
2024-01-04 20:22:28,833:logger:Log success
2024-01-04 20:22:29,706:logger:Inserted 37091 rows into the database table geography_chart_data.
2024-01-04 20:22:29,722:logger:Log success
2024-01-04 20:22:29,832:logger:Inserted 30 rows into the database table geography_table_data.
2024-01-04 20:22:29,856:logger:Log success
2024-01-04 20:22:30,164:logger:Inserted 11511 rows into the database table sharing_service_chart_data.
2024-01-04 20:22:30,178:logger:Log success
2024-01-04 20:22:30,415:logger:Inserted 10 rows into the database table sharing_service_table_data.
2024-01-04 20:22:30,444:logger:Log success
2024-01-04 20:22:30,617:logger:Inserted 2558 rows into the database table content_type_chart_data.
2024-01-04 20:22:30,632:logger:Log success
2024-01-04 20:22:30,735:logger:Inserted 3 rows into the database table content_type_table_data.
2024-01-04 20:22:30,753:logger:Log success
2024-01-04 20:22:31,144:logger:Inserted 15348 rows into the database table totals_table_data.