In [1]:
import pandas as pd
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [5]:
from utils import run_sql_query, populate_dataframe_to_database, create_table_query

In [10]:
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Access the values using os.environ.get()
connection_params = {
    "user": os.environ.get("DB_USER"),
    "password": os.environ.get("DB_PASSWORD"),
    "database": os.environ.get("DB_NAME"),
    "host": os.environ.get("DB_HOST"),
    "port": os.environ.get("DB_PORT")
}

In [11]:
# Define the root directory
root_directory = './../Data/youtube-data/'


sql_queries = ""


totals_table_created = False  # Flag to track if Totals table has been created
all_totals_data = pd.DataFrame()  # DataFrame to combine all Totals data

# Iterate through each folder in the root directory
for folder_name in os.listdir(root_directory):
    folder_path = os.path.join(root_directory, folder_name)
    print(folder_name)

    # Check if the item is a directory
    if os.path.isdir(folder_path):
        chart_data_path = os.path.join(folder_path, 'Chart data.csv')
        table_data_path = os.path.join(folder_path, 'Table data.csv')
        totals_data_path = os.path.join(folder_path, 'Totals.csv')


        

        # # Check if "Chart data.csv" or "Table data.csv" exists in the folder
        if os.path.exists(chart_data_path):
            chart_data_df = pd.read_csv(chart_data_path)
            table_name = f'{folder_name.lower().replace(" ","_")}_chart_data'
            table_query = create_table_query(chart_data_df, table_name)
            sql_queries += table_query
            print(table_query)
            # Process chart data
   
            run_sql_query(connection_params, table_query)  # Create table if not exists
            populate_dataframe_to_database(connection_params, chart_data_df, table_name)

        if os.path.exists(table_data_path):
            # Process table data
            table_data_df = pd.read_csv(table_data_path)
            table_name = f'{folder_name.lower().replace(" ","_")}_table_data'

            table_query = create_table_query(table_data_df, table_name)
            sql_queries += table_query
            print(table_query)


            run_sql_query(connection_params, table_query)  # Create table if not exists
            populate_dataframe_to_database(connection_params, table_data_df, table_name)
        
        # Check if "Totals.csv" exists in the folder
        if os.path.exists(totals_data_path):
            totals_df = pd.read_csv(totals_data_path)
            all_totals_data = pd.concat([all_totals_data, totals_df], ignore_index=True)
        
    


# Create the CREATE TABLE query for totals_table_data
totals_table_query = create_table_query(all_totals_data, 'totals_table_data')
sql_queries += totals_table_query
print(totals_table_query)
# Create the totals_table_data table

# Specify the file path for the SQL file
sql_file_path = './sql_queries.sql'

# Write the SQL queries to the file
with open(sql_file_path, 'w') as sql_file:
    sql_file.write(sql_queries)

print(f'SQL queries saved to {sql_file_path}')

run_sql_query(connection_params, totals_table_query)

# Insert the combined Totals data into totals_table_data
populate_dataframe_to_database(connection_params, all_totals_data, 'totals_table_data')

Subscription status

            CREATE TABLE IF NOT EXISTS subscription_status_chart_data (
                "Date" TEXT, "Subscription status" TEXT, "Views" INTEGER,
                PRIMARY KEY ("Date", "Subscription status")
            );

Log success
Inserted 2558 rows into the database table subscription_status_chart_data.

            CREATE TABLE IF NOT EXISTS subscription_status_table_data (
                "Subscription status" TEXT, "Views" INTEGER, "Watch time (hours)" DOUBLE PRECISION, "Average view duration" TEXT,
                PRIMARY KEY ("Subscription status")
            );

Log success
Inserted 3 rows into the database table subscription_status_table_data.
Content type

            CREATE TABLE IF NOT EXISTS content_type_chart_data (
                "Date" TEXT, "Content type" TEXT, "Views" INTEGER,
                PRIMARY KEY ("Date", "Content type")
            );

Log success
Inserted 2558 rows into the database table content_type_chart_data.

            CREATE TABLE IF NOT EXISTS content_type_table_data (
                "Content type" TEXT, "Views" INTEGER, "Watch time (hours)" DOUBLE PRECISION, "Average view duration" TEXT,
                PRIMARY KEY ("Content type")
            );

Log success
Inserted 3 rows into the database table content_type_table_data.
Traffic source

            CREATE TABLE IF NOT EXISTS traffic_source_chart_data (
                "Date" TEXT, "Traffic source" TEXT, "Views" INTEGER,
                PRIMARY KEY ("Date", "Traffic source")
            );

Log success
Inserted 11511 rows into the database table traffic_source_chart_data.

            CREATE TABLE IF NOT EXISTS traffic_source_table_data (
                "Traffic source" TEXT, "Views" DOUBLE PRECISION, "Watch time (hours)" DOUBLE PRECISION, "Average view duration" TEXT, "Impressions" DOUBLE PRECISION, "Impressions click-through rate (%)" DOUBLE PRECISION,
                PRIMARY KEY ("Traffic source")
            );

Log success
Inserted 11 rows into the database table traffic_source_table_data.
Viewership by Date

            CREATE TABLE IF NOT EXISTS viewership_by_date_table_data (
                "Date" TEXT, "Views" DOUBLE PRECISION, "Watch time (hours)" DOUBLE PRECISION, "Average view duration" TEXT,
                PRIMARY KEY ("Date")
            );

Log success
Inserted 502 rows into the database table viewership_by_date_table_data.
Subtitles and CC

            CREATE TABLE IF NOT EXISTS subtitles_and_cc_chart_data (
                "Date" TEXT, "Subtitles and CC" TEXT, "Views" INTEGER,
                PRIMARY KEY ("Date", "Subtitles and CC")
            );

Log success
Inserted 10232 rows into the database table subtitles_and_cc_chart_data.

            CREATE TABLE IF NOT EXISTS subtitles_and_cc_table_data (
                "Subtitles and CC" TEXT, "Views" INTEGER, "Watch time (hours)" DOUBLE PRECISION, "Average view duration" TEXT,
                PRIMARY KEY ("Subtitles and CC")
            );

Log success
Inserted 9 rows into the database table subtitles_and_cc_table_data.
Operating system

            CREATE TABLE IF NOT EXISTS operating_system_chart_data (
                "Date" TEXT, "Operating system" TEXT, "Views" INTEGER,
                PRIMARY KEY ("Date", "Operating system")
            );

Log success
Inserted 20464 rows into the database table operating_system_chart_data.

            CREATE TABLE IF NOT EXISTS operating_system_table_data (
                "Operating system" TEXT, "Views" INTEGER, "Watch time (hours)" DOUBLE PRECISION, "Average view duration" TEXT,
                PRIMARY KEY ("Operating system")
            );

Log success
Inserted 17 rows into the database table operating_system_table_data.
viewer age

            CREATE TABLE IF NOT EXISTS viewer_age_table_data (
                "Viewer age" TEXT, "Views (%)" DOUBLE PRECISION, "Average view duration" TEXT, "Average percentage viewed (%)" DOUBLE PRECISION, "Watch time (hours) (%)" DOUBLE PRECISION,
                PRIMARY KEY ("Viewer age")
            );

Log success
Inserted 4 rows into the database table viewer_age_table_data.
Device type

            CREATE TABLE IF NOT EXISTS device_type_chart_data (
                "Date" TEXT, "Device type" TEXT, "Views" INTEGER,
                PRIMARY KEY ("Date", "Device type")
            );

Log success
Inserted 5116 rows into the database table device_type_chart_data.

            CREATE TABLE IF NOT EXISTS device_type_table_data (
                "Device type" TEXT, "Views" INTEGER, "Watch time (hours)" DOUBLE PRECISION, "Average view duration" TEXT,
                PRIMARY KEY ("Device type")
            );

Log success
Inserted 5 rows into the database table device_type_table_data.
Sharing service

            CREATE TABLE IF NOT EXISTS sharing_service_chart_data (
                "Date" TEXT, "Sharing service" TEXT, "Shares" INTEGER,
                PRIMARY KEY ("Date", "Sharing service")
            );

Log success
Inserted 11511 rows into the database table sharing_service_chart_data.

            CREATE TABLE IF NOT EXISTS sharing_service_table_data (
                "Sharing service" TEXT, "Shares" INTEGER,
                PRIMARY KEY ("Sharing service")
            );

Log success
Inserted 10 rows into the database table sharing_service_table_data.
Cities

            CREATE TABLE IF NOT EXISTS cities_chart_data (
                "Date" TEXT, "Cities" TEXT, "City name" TEXT, "Views" INTEGER,
                PRIMARY KEY ("Date", "Cities")
            );

Log success
Inserted 6395 rows into the database table cities_chart_data.

            CREATE TABLE IF NOT EXISTS cities_table_data (
                "Cities" TEXT, "City name" TEXT, "Geography" TEXT, "Geography.1" TEXT, "Views" INTEGER, "Watch time (hours)" DOUBLE PRECISION, "Average view duration" TEXT,
                PRIMARY KEY ("Cities")
            );

Log success
Inserted 9 rows into the database table cities_table_data.
Geography

            CREATE TABLE IF NOT EXISTS geography_chart_data (
                "Date" TEXT, "Geography" TEXT, "Views" INTEGER,
                PRIMARY KEY ("Date", "Geography")
            );

Log success
Inserted 37091 rows into the database table geography_chart_data.

            CREATE TABLE IF NOT EXISTS geography_table_data (
                "Geography" TEXT, "Views" INTEGER, "Watch time (hours)" DOUBLE PRECISION, "Average view duration" TEXT,
                PRIMARY KEY ("Geography")
            );

Log success
Inserted 30 rows into the database table geography_table_data.
viewer gender

            CREATE TABLE IF NOT EXISTS viewer_gender_table_data (
                "Viewer gender" TEXT, "Views (%)" DOUBLE PRECISION, "Average view duration" TEXT, "Average percentage viewed (%)" DOUBLE PRECISION, "Watch time (hours) (%)" DOUBLE PRECISION,
                PRIMARY KEY ("Viewer gender")
            );

Log success
Inserted 2 rows into the database table viewer_gender_table_data.
New and returning viewers

            CREATE TABLE IF NOT EXISTS new_and_returning_viewers_chart_data (
                "Date" TEXT, "New and returning viewers" TEXT, "Views" INTEGER,
                PRIMARY KEY ("Date", "New and returning viewers")
            );

Log success
Inserted 3837 rows into the database table new_and_returning_viewers_chart_data.

            CREATE TABLE IF NOT EXISTS new_and_returning_viewers_table_data (
                "New and returning viewers" TEXT, "Views" INTEGER, "Watch time (hours)" DOUBLE PRECISION, "Average view duration" TEXT,
                PRIMARY KEY ("New and returning viewers")
            );

Log success
Inserted 4 rows into the database table new_and_returning_viewers_table_data.
Subscription source

            CREATE TABLE IF NOT EXISTS subscription_source_chart_data (
                "Date" TEXT, "Subscription source" TEXT, "Subscribers" INTEGER,
                PRIMARY KEY ("Date", "Subscription source")
            );

Log success
Inserted 10232 rows into the database table subscription_source_chart_data.

            CREATE TABLE IF NOT EXISTS subscription_source_table_data (
                "Subscription source" TEXT, "Subscribers" INTEGER, "Subscribers gained" INTEGER, "Subscribers lost" INTEGER,
                PRIMARY KEY ("Subscription source")
            );

Log success
Inserted 9 rows into the database table subscription_source_table_data.

            CREATE TABLE IF NOT EXISTS totals_table_data (
                "Date" TEXT, "Views" DOUBLE PRECISION, "Shares" DOUBLE PRECISION, "Subscribers" DOUBLE PRECISION,
                PRIMARY KEY ("Date")
            );

SQL queries saved to ./sql_queries.sql
Log success
Inserted 15348 rows into the database table totals_table_data.